{% load static %}
<footer class="footer">
    <div class="footer-content">
        <div class="footer-row1">
            <div class="text-input">
                <div class="supporthomeetcom">Support@homeet.com</div>
                <div class="technical-support">
                    <div class="standart-text">Техническая поддержка</div>
                </div>
            </div>
            <div class="about-label-frame">
                <div class="about-label">
                    <div class="nav-link">
                        <div class="standart-text">О сервисе</div>
                    </div>
                    <div class="nav-link">
                        <div class="standart-text">Контакты</div>
                    </div>
                    <div class="nav-link">
                        <div class="standart-text">Политика конфиденциальности</div>
                    </div>
                </div>
                <div class="social-tg-parent">
                    <a class="social-tg" href="https://web.telegram.org/" target="_blank">
                        <img class="vector-icon" alt="" src="{% static 'src/img/tgLogo.svg' %}" />
                    </a>
                    <a class="social-tg" href="https://vk.com" target="_blank">
                        <img class="vector-icon" alt="" src="{% static 'src/img/vklogo.svg' %}" />
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-row2"></div>
        <div class="footer-disclaimer">
            <div class="footer-disclaimer-text">
                <p class="p">Предложение не является публичной офертой.</p>
                <p class="p">
                    Сервис не несет ответственности за действия пользователей,
                    достоверность информации и т.д.
                </p>
            </div>
            <div class="upload-button-text">
                <span>Сделано в </span>
                <span class="span">бвср</span>
            </div>
        </div>
    </div>
    <div class="footer-child"></div>
</footer>