
<form class="profile-form" id="registrationForm" method="POST" action="{% url 'SaveForm' %}" novalidate>
    {% csrf_token %}
    <div class="tab">
        <div class="upload">
            <div class="upload-frame">
                <div class="upload-title">Аватар профиля</div>
                <button class="upload-button" type="button">
                    <div class="upload-button-text">Загрузить</div>
                </button>
            </div>
            <div class="upload-description">
                Загрузите фотографию весом не более 10 мб
            </div>
        </div>
        <div class="general-info">
            <div class="text-input">
                <div class="user-name">Имя пользователя</div>
                <input id="nameInput" name="Name" class="name-input" type="text" placeholder="Фамилия Имя"
                    pattern="[A-Za-zА-Яа-яЁё]{2,15}\s[A-Za-zА-Яа-яЁё]{2,15}" />
                <div class="radio-input">
                    <div class="horizontal-page">
                        <div class="button-gen">
                            <input id="maleInput1" class="male-input" name="gender" value="Парень" type="radio"
                                onclick="setGender()" />
                            <label for="maleInput1" class="radio__label">Парень</label>
                        </div>
                        <div class="button-gen">
                            <input id="maleInput2" class="male-input" name="gender" value="Девушка" type="radio"
                                onclick="setGender()" />
                            <label for="maleInput2" class="radio__label">Девушка</label>
                        </div>
                    </div>
                    <p class="radio-error">Выберите один вариант</p>
                </div>

            </div>
            <input id="dateInput" name="dateData" class="date-input" type="date" placeholder="Дата рождения" pattern="^\d\.\d\.\d$" />
            <div>
                <div class="user-name">Телеграм</div>
                <input class="tg-input" name="tgLink" type="text" placeholder="Формат: @username" pattern="[@][A-Za-z0-9_]{5,20}" />
            </div>
            <div>
                <div class="user-name">Номер телефона</div>
                <input class="number-input" name="telNumber" type="tel" placeholder="Формат: +79999999999" pattern="[+]7\d{10}" />
            </div>
            <div class="general-about">
                <div class="user-name">О себе</div>
                <input id="aboutInput" class="about-input" name="aboutText" type="text" placeholder="О себе" />
                <div class="about-placeholder">
                    Например: Редко готовлю, но люблю ботать на кухне по
                    ночам. Хочу завести собаку. Очень люблю читать, играть в
                    хорроры и смотреть аниме. Открыт к общению и взаимопомощи
                    :)
                </div>
            </div>
        </div>
    </div>
    <div class="tab">
        <div class="general-info">
            <div class="text-input">
                <div class="user-name" >ЧТото пользователя</div>
                <input id="nameInput" class="name-input" name="other" type="text" placeholder="ЧТото пользователя"
                    pattern="[A-Za-zА-Яа-яЁё]{2,15}\s[A-Za-zА-Яа-яЁё]{2,15}" />
            </div>
        </div>
    </div>
    
</form>
